@model Game

<div class="text-center">
    <h1>Featured Game</h1>
    <ul class="list-group">
        <li class="list-group-item ">
            <h4>
                <a asp-controller="Game" 
                   asp-action="Details"                   
                   asp-route-id="@Model.GameId" 
                   asp-route-slug="@Model.Title.Slug()">
                    @Model.Title
                </a>
            </h4>
            <h2><img src="~/images/@Model.Image" width="600" height="600" /></h2>
        </li>
    </ul>
</div>